.pt-o-block-cloud {
  height: 100%;
  background: $aliceBlue;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__yellow {
    width: 24rem;
    height: 24rem;
    animation-name: block-cloud__yellow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 1;
  }

  &__blue {
    width: 18rem;
    height: 18rem;
    animation-name: block-cloud__blue;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    top: -9rem;
    right: -9rem;
    z-index: 1;
  }

  &__green {
    width: 30rem;
    height: 30rem;
    animation-name: block-cloud__green;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: -15rem;
    right: -15rem;
    z-index: 1;
  }
}
