.landing-menu-icon {
	position: absolute;
    right: 0rem;
    top: 0.5rem;
	width: 2.5rem;
	div {
        position: relative;
		background: #fff;
		display: block;
		height: 0.3rem;
		margin: 0.4rem 0;
		transition: 0.5s;
	}
}

.active {
    div {
        transform: scale(0);

        &:first-child {
            transform: translateY(0.7rem) rotate(45deg);
        }

        &:last-child {
            transform: translateY(-0.7rem) rotate(-45deg);
        }
    }
}
