.landing-button {
  height: 3em;
  border-radius: 0.75em;
  padding: 0.75em 1.5em;

  text-align: center;
  cursor: pointer;

  display: flex;

  p {
    align-self: center;
  }

  @media (max-width: 414px) {
    width: 240px;
    margin: 2.4rem auto 2.4rem;
  }

  @media only screen and (max-width: 890px) {
    padding: 0.2em 0.5em;
  }
}
