.a-search-input {
    width: 100%;
    height: 100%;
    .rs {
        &-input {
            height: 100%;
            padding: 0;
            background: transparent;
            border: none;
            color: $dark;
            font-size: 1.6rem;
            transition: all 0.25s;
            &::placeholder {
                color: $dark;
            }
        }
    }
}