@font-face {
  font-family: 'mont_t';
  src: url('/pt/fonts/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'mont_el';
  src: url('/pt/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'mont_l';
  src: url('/pt/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'mont_r';
  src: url('/pt/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'mont_m';
  src: url('/pt/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'mont_sb';
  src: url('/pt/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'mont_b';
  src: url('/pt/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'mont_eb';
  src: url('/pt/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'mont_bl';
  src: url('/pt/fonts/Montserrat-Black.ttf');
}
