.m-part-slider {
  width: 100%;

  &__container {
    width: 100%;
    padding: 0 0 3.2rem 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    .container-card {
      width: 35rem;
      margin: 0 3.2rem 0 0;
      flex-shrink: 0;
    }
  }
}
