.a-brand {
    height: 100%;
    padding: 2.4rem 3.2rem;
    &>.__link {
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        &>.__logo {
            width: 3.2rem;
            height: 3.2rem;
            display: flex;
            align-items: center;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &>.__name {
            margin: 0 0 0 1.2rem;
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
}