$white: #fff;
$light: #c3c3c3;
$dark_xl: #999c9e;
$dark_l: #8c8c8c;
$dark: #676a6c;
$dark_b: #2f4050;
$black: #000;
$success: #1ab394;
$primary: #3498ff;
$danger: #d12f1d;
$gray: #d5dee8;
$green: #71ac5d;
$blue_light: #e6f6fc;
